@import url('lumo-css-framework/all-classes.css');
@import url('line-awesome/dist/line-awesome/css/line-awesome.min.css');

@media all and (max-width: 1100px) {
	.list-view.editing .toolbar,
	.list-view.editing .contact-grid {
	display: none;
	}
}

a[highlight] {
	font-weight: bold;
	text-decoration: underline;
}